body {
    background-color: #f3e5dc;
    color: #000000;
}
h1, h2{
    color:#613a21;
}
h1 {text-align: center;} 

a:link {color:#425d4c;}
a:visited {color: #425d4c;}
nav {
    background-color:#ffeff3;
    padding: 8px;
    border-radius: 10px;
}
nav a {
    color: #c37e51;
    padding: 8px;
    margin-bottom: 20px;
}
nav a:hover {background-color:#9a4300;}

.skills {text-align: center;}
.maincontainer {display: flex; justify-content: right;}

.otherskills {
    display:flex;
    background-color:mediumaquamarine;
    padding: 7px; 
    border-radius: 27px;
    flex-basis:25%
}

.flex {display:flex; flex-basis:75%; justify-content:space-between}
.otherskills, .maincontainer, .flex {padding:48px}
p {padding:20px}



.saying {float:right;}
.contactinfo {background-color:lightgoldenrodyellow; padding: 17; border-radius:14px;}


.clear {clear: both;}
.mapandform {background-color: #f3e5dc; padding: 17px; border-radius: 14px; flex-wrap: wrap;}
.address {float:left; margin-right:50px;}
.mapandform, .contactinfo {margin:35;}


.map {float:right;}
.map, .form {margin:45px;}
.map {flex:2; order:2;}
.form {flex:2; order:1;}

@media only screen and (max-width: 600px) {
    nav a {
        max-width:100%;
        display:block;
    }
    span {display:none;}
}











