body {
    background-color: #f3e5dc;
    color: #000000;
    margin:16px;
}
h1 {font-family: fantasy;font-weight: normal; font-style: normal;font-display:block; margin:10px;;
}
h2 {font-family: Marker Felt, fantasy; padding:10px;font-size: 30px;
}
h3 {font-family:'Franklin Gothic Medium', Arial, sans-serif; margin:10px;}
p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; margin:10px; font-size: large;
}
#header{
	margin: 10px; Display: flex;
    justify-content: center; background-color: #ADD8E6;}

#header {font-family:Heathers;
    font-size: 24px;
    font-weight: 40;
    letter-spacing: 1px;
}

#about{
    margin: 10px; Display: flex; 
    justify-content: center;
}
*{
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 8px;
  }
 
  #container{
    float: right;
    display:flex;   
}
.center {text-align: center;
}
.saying {float:right;}

.justifycontent {
    border: 1px ;
    display: flex; 
    justify-content: center;
}
.header {display:flex; flex: flex-wrap; flex:1;}

.img1,.img2 
{float:left; margin-right: 10px; }
.clear {clear:both;}

.img3 {float:right; margin-left: 20px;}
.clear {clear:both;}
.part1 {background-color:#FFD580; padding:29px;}
.part2 {display:flex;background-color: lightpink;}
.part2 article {padding:20px;background-color: lightpink;}
.article1, .article2, .article3 {margin:10px;justify-content: center;}
.article1 {flex:1; order:3;border-radius:1em;}
.article2 {flex:1; order:2;border-radius:1em;}
.article3 {flex:1;order:1;border-radius:1em;}

.part3 {display:flex;background-color:lightsalmon;}
.part3 article {padding:20px;margin: 110px;}
.part5 {display:flex;background-color:paleturquoise}
.part5 article {padding:20px;margin: 110px;}
.article4,.article5 {margin:10px;justify-content:center;flex-wrap:wrap;}

.part2 {width: 100%;} 
.part3 {max-width: 100%;} 


@media only screen and (min-width:1200px) {
    body {background-color:#f3e5dc;}
}

